.container {
  display: grid;
  grid-template-columns: repeat(16, [col-start] 1fr);
  align-items: start;
  justify-content: start;
  grid-auto-flow: column;
  grid-row-gap: 2rem;
  column-gap: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  padding-top: 4rem;
}

h2 {
  grid-column: col-start / 16;
  font-family: "GilReg";
  font-size: 2rem;
  margin-top: 0;
  color: white;
  font-weight: 100;
  opacity: 0;
}

.description, .inspect__description, .notification__description {
  grid-column: col-start / 12;
  font-family: "Flaco";
  color: #ababab;
  font-size: 1rem;
  margin-top: -2rem;
}