@media only screen and (max-width: 800px) {
  /** This messes up scrollama **/
  /** html {
    max-width: 100vw;
    overflow-x: hidden;
  } **/
  body {
    overflow-x: hidden;
    max-width: 100vw;
  }

  body {
    font-size: 16px !important;
    position: relative;
  }

  h1 {
    font-size: 2.5rem !important;
  }
  .container__footer {
    grid-template-columns: 12fr !important;
    grid-auto-flow: row !important;
  }

  .results {
    margin-left: -400px;
  }

  .description, .inspect__description, .notification__description {
    grid-column: col-start/16 !important;
  }

  .bg {
    height: 100vh;
    margin-left: -90%;
  }

  .wrapperball { margin-left: 20rem !important }
  .smallwrapperball { margin-left: 7rem !important }
  .bg__elem__three { margin-left: 38.5rem !important }
  .bg__elem__four { margin-left: 26.5rem !important }
  .video__sq--1 { left: 1% !important }
  .video__sq--3n { top: 55% !important }

  .string {
    font-size: 1rem !important;
    width: 100vh !important;
  }

  .result__innertext {
    font-size: 1rem !important;
  }

  .searchbox__button { display: none }

  /* Margin fixes */
  header { 
    margin: 2rem !important;
    width: calc(100vw - 4rem) !important;
  }
  .fixedsearchcta { margin: 6rem 2rem 0 2rem !important }
  .container, .container__footer { margin: 0 2rem 0 2rem !important }
}